In [ ]:
import pandas as pd
import io
import numpy as np
import seaborn as sns

sns.set_context('notebook')
sns.set_style('darkgrid')
sns.set_palette('Spectral')


import os
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', 500)  # Mengatur jumlah maksimum kolom yang ditampilkan pada DataFrame agar dapat menampilkan hingga 500 kolom.
pd.set_option('display.max_rows', 500)     # Mengatur jumlah maksimum baris yang ditampilkan pada DataFrame agar dapat menampilkan hingga 500 baris.
df

In [61]:
df = pd.read_csv('index.csv')
df

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.70,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.70,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.70,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.90,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.70,Latte
...,...,...,...,...,...,...
891,2024-06-29,2024-06-29 21:27:22.449,card,ANON-0000-0000-0009,37.72,Latte
892,2024-06-30,2024-06-30 10:28:09.842,card,ANON-0000-0000-0336,37.72,Latte
893,2024-06-30,2024-06-30 13:05:50.620,card,ANON-0000-0000-0337,23.02,Espresso
894,2024-06-30,2024-06-30 16:54:41.679,card,ANON-0000-0000-0009,37.72,Hot Chocolate
895,2024-06-30,2024-06-30 21:04:09.746,card,ANON-0000-0000-0097,32.82,Americano with Milk

In [4]:
df.isnull().any()

date           False
datetime       False
cash_type      False
card            True
money          False
coffee_name    False
dtype: bool

In [5]:
df.info

<bound method DataFrame.info of            date                 datetime cash_type                 card  \
0    2024-03-01  2024-03-01 10:15:50.520      card  ANON-0000-0000-0001
1    2024-03-01  2024-03-01 12:19:22.539      card  ANON-0000-0000-0002
2    2024-03-01  2024-03-01 12:20:18.089      card  ANON-0000-0000-0002
3    2024-03-01  2024-03-01 13:46:33.006      card  ANON-0000-0000-0003
4    2024-03-01  2024-03-01 13:48:14.626      card  ANON-0000-0000-0004
..          ...                      ...       ...                  ...
891  2024-06-29  2024-06-29 21:27:22.449      card  ANON-0000-0000-0009
892  2024-06-30  2024-06-30 10:28:09.842      card  ANON-0000-0000-0336
893  2024-06-30  2024-06-30 13:05:50.620      card  ANON-0000-0000-0337
894  2024-06-30  2024-06-30 16:54:41.679      card  ANON-0000-0000-0009
895  2024-06-30  2024-06-30 21:04:09.746      card  ANON-0000-0000-0097

     money          coffee_name
0    38.70                Latte
1    38.70        Hot Chocolate
2    38.70        Hot Chocolate
3    28.90            Americano
4    38.70                Latte
..     ...                  ...
891  37.72                Latte
892  37.72                Latte
893  23.02             Espresso
894  37.72        Hot Chocolate
895  32.82  Americano with Milk

[896 rows x 6 columns]>

In [6]:
df[df['card'].isna()==1]

,date,datetime,cash_type,card,money,coffee_name
12,2024-03-02,2024-03-02 10:30:35.668,cash,NaN,40.0,Latte
18,2024-03-03,2024-03-03 10:10:43.981,cash,NaN,40.0,Latte
41,2024-03-06,2024-03-06 12:30:27.089,cash,NaN,35.0,Americano with Milk
46,2024-03-07,2024-03-07 10:08:58.945,cash,NaN,40.0,Latte
49,2024-03-07,2024-03-07 11:25:43.977,cash,NaN,40.0,Latte
60,2024-03-09,2024-03-09 11:49:37.292,cash,NaN,40.0,Hot Chocolate
74,2024-03-10,2024-03-10 07:44:18.538,cash,NaN,30.0,Americano
75,2024-03-10,2024-03-10 07:45:29.441,cash,NaN,35.0,Americano with Milk
76,2024-03-10,2024-03-10 10:06:02.960,cash,NaN,40.0,Latte
78,2024-03-10,2024-03-10 17:51:03.048,cash,NaN,35.0,Americano with Milk
81,2024-03-11,2024-03-11 10:18:46.724,cash,NaN,40.0,Latte
82,2024-03-11,2024-03-11 11:24:15.022,cash,NaN,40.0,Cappuccino
83,2024-03-11,2024-03-11 11:24:51.565,cash,NaN,30.0,Cortado
84,2024-03-11,2024-03-11 11:26:44.221,cash,NaN,30.0,Americano
89,2024-03-12,2024-03-12 10:15:00.297,cash,NaN,40.0,Latte
100,2024-03-13,2024-03-13 12:34:30.315,cash,NaN,25.0,Espresso
105,2024-03-14,2024-03-14 10:02:12.241,cash,NaN,40.0,Latte
117,2024-03-15,2024-03-15 10:02:16.533,cash,NaN,40.0,Latte
126,2024-03-17,2024-03-17 10:10:21.399,cash,NaN,40.0,Latte
132,2024-03-19,2024-03-19 10:20:25.996,cash,NaN,30.0,Cortado
137,2024-03-19,2024-03-19 19:26:32.677,cash,NaN,40.0,Hot Chocolate
139,2024-03-20,2024-03-20 12:21:07.728,cash,NaN,40.0,Latte
144,2024-03-21,2024-03-21 10:18:56.977,cash,NaN,40.0,Cappuccino
147,2024-03-21,2024-03-21 17:21:01.453,cash,NaN,30.0,Americano
152,2024-03-22,2024-03-22 16:15:14.448,cash,NaN,40.0,Cappuccino
164,2024-03-24,2024-03-24 10:03:56.005,cash,NaN,40.0,Latte
167,2024-03-25,2024-03-25 11:16:25.671,cash,NaN,35.0,Americano with Milk
190,2024-03-27,2024-03-27 19:31:12.442,cash,NaN,40.0,Latte
198,2024-03-29,2024-03-29 13:22:44.618,cash,NaN,40.0,Cappuccino
200,2024-03-30,2024-03-30 13:49:25.815,cash,NaN,40.0,Cappuccino
205,2024-03-31,2024-03-31 19:36:45.000,cash,NaN,30.0,Americano
210,2024-04-01,2024-04-01 17:01:42.924,cash,NaN,40.0,Cappuccino
216,2024-04-02,2024-04-02 19:59:31.942,cash,NaN,40.0,Cappuccino
220,2024-04-03,2024-04-03 15:36:11.735,cash,NaN,30.0,Cortado
225,2024-04-04,2024-04-04 19:42:07.740,cash,NaN,40.0,Latte
232,2024-04-05,2024-04-05 15:30:50.383,cash,NaN,40.0,Latte
233,2024-04-05,2024-04-05 15:54:15.768,cash,NaN,40.0,Cappuccino
234,2024-04-05,2024-04-05 15:55:30.947,cash,NaN,30.0,Americano
235,2024-04-05,2024-04-05 16:17:43.975,cash,NaN,40.0,Cocoa
252,2024-04-08,2024-04-08 12:54:25.897,cash,NaN,25.0,Espresso
253,2024-04-08,2024-04-08 15:43:36.881,cash,NaN,35.0,Americano with Milk
258,2024-04-09,2024-04-09 10:22:27.359,cash,NaN,40.0,Cappuccino
259,2024-04-09,2024-04-09 10:24:10.103,cash,NaN,30.0,Americano
263,2024-04-10,2024-04-10 10:21:26.175,cash,NaN,25.0,Espresso
264,2024-04-10,2024-04-10 17:55:07.018,cash,NaN,40.0,Hot Chocolate
277,2024-04-13,2024-04-13 15:06:52.292,cash,NaN,40.0,Hot Chocolate
278,2024-04-13,2024-04-13 15:07:55.966,cash,NaN,40.0,Hot Chocolate
283,2024-04-14,2024-04-14 10:55:27.406,cash,NaN,40.0,Latte
285,2024-04-14,2024-04-14 12:27:08.951,cash,NaN,30.0,Cortado
286,2024-04-14,2024-04-14 12:29:06.877,cash,NaN,30.0,Cortado
287,2024-04-14,2024-04-14 12:31:36.036,cash,NaN,35.0,Americano with Milk
300,2024-04-15,2024-04-15 19:41:58.112,cash,NaN,25.0,Espresso
301,2024-04-16,2024-04-16 10:43:49.907,cash,NaN,35.0,Americano with Milk
311,2024-04-17,2024-04-17 16:13:24.310,cash,NaN,40.0,Cappuccino
332,2024-04-20,2024-04-20 11:24:42.681,cash,NaN,35.0,Americano with Milk
342,2024-04-20,2024-04-20 17:07:57.969,cash,NaN,39.0,Cocoa
348,2024-04-21,2024-04-21 17:09:03.199,cash,NaN,39.0,Cappuccino
351,2024-04-22,2024-04-22 18:40:33.024,cash,NaN,39.0,Latte
353,2024-04-22,2024-04-22 20:02:29.165,cash,NaN,39.0,Cappuccino
403,2024-05-02,2024-05-02 11:29:57.080,cash,NaN,39.0,Latte
409,2024-05-03,2024-05-03 10:11:53.399,cash,NaN,39.0,Latte
417,2024-05-06,2024-05-06 11:34:20.640,cash,NaN,29.0,Americano
429,2024-05-07,2024-05-07 18:35:37.235,cash,NaN,34.0,Americano with Milk
442,2024-05-10,2024-05-10 10:09:21.972,cash,NaN,39.0,Latte
445,2024-05-10,2024-05-10 16:20:15.084,cash,NaN,34.0,Americano with Milk
447,2024-05-11,2024-05-11 17:02:43.648,cash,NaN,39.0,Latte
463,2024-05-13,2024-05-13 15:31:10.763,cash,NaN,29.0,Americano
464,2024-05-13,2024-05-13 15:31:50.907,cash,NaN,29.0,Americano
484,2024-05-15,2024-05-15 14:38:10.847,cash,NaN,29.0,Americano
491,2024-05-16,2024-05-16 11:42:50.285,cash,NaN,39.0,Latte
492,2024-05-16,2024-05-16 11:44:20.811,cash,NaN,39.0,Cappuccino
500,2024-05-17,2024-05-17 14:58:03.060,cash,NaN,34.0,Americano with Milk
514,2024-05-18,2024-05-18 22:05:27.473,cash,NaN,39.0,Cappuccino
518,2024-05-19,2024-05-19 09:28:49.723,cash,NaN,24.0,Espresso
537,2024-05-20,2024-05-20 14:32:21.252,cash,NaN,29.0,Americano
546,2024-05-21,2024-05-21 09:43:50.690,cash,NaN,29.0,Americano
547,2024-05-21,2024-05-21 09:44:40.309,cash,NaN,34.0,Americano with Milk
548,2024-05-21,2024-05-21 09:46:09.430,cash,NaN,39.0,Cocoa
549,2024-05-21,2024-05-21 10:05:08.033,cash,NaN,39.0,Latte
580,2024-05-23,2024-05-23 22:55:36.926,cash,NaN,39.0,Hot Chocolate
588,2024-05-25,2024-05-25 07:40:58.818,cash,NaN,29.0,Americano
590,2024-05-25,2024-05-25 12:40:23.587,cash,NaN,29.0,Americano
628,2024-05-28,2024-05-28 17:21:43.967,cash,NaN,39.0,Cappuccino
634,2024-05-29,2024-05-29 10:48:46.781,cash,NaN,39.0,Latte
657,2024-05-31,2024-05-31 09:23:58.791,cash,NaN,39.0,Latte
677,2024-06-01,2024-06-01 20:54:59.267,cash,NaN,39.0,Cocoa
685,2024-06-02,2024-06-02 22:43:10.636,cash,NaN,34.0,Americano with Milk
691,2024-06-03,2024-06-03 21:42:51.734,cash,NaN,34.0,Americano with Milk
692,2024-06-03,2024-06-03 21:43:37.471,cash,NaN,34.0,Americano with Milk

In [7]:
df['card'] = df['card'].fillna(0)
df.isna().any()

date           False
datetime       False
cash_type      False
card           False
money          False
coffee_name    False
dtype: bool

In [8]:
df.dtypes

date            object
datetime        object
cash_type       object
card            object
money          float64
coffee_name     object
dtype: object

In [9]:
df['date'] = pd.to_datetime(df['date'])

In [10]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [11]:
df = df.astype({'datetime': 'datetime64[ns]'})

In [13]:
df.isna().sum().sort_values(ascending=False)

date           0
datetime       0
cash_type      0
card           0
money          0
coffee_name    0
dtype: int64

In [62]:
df.dtypes

date            object
datetime        object
cash_type       object
card            object
money          float64
coffee_name     object
dtype: object

In [71]:
df0 = df.groupby(['date']).agg(money_sum=('money', 'count'), money_count=('money', 'sum')).reset_index()
df0 = df0.rename(columns={'money_count': 'total_revenue',
                        'money_sum' : 'transaction_count'})
df0

           date  transaction_count  total_revenue
0    2024-03-01                 11         396.30
1    2024-03-02                  7         228.10
2    2024-03-03                 10         349.10
3    2024-03-04                  4         135.20
4    2024-03-05                  9         338.50
5    2024-03-06                  5         170.20
6    2024-03-07                  6         220.10
7    2024-03-08                  8         265.50
8    2024-03-09                 14         479.40
9    2024-03-10                  7         231.60
10   2024-03-11                  8         275.20
11   2024-03-12                  7         228.10
12   2024-03-13                  9         256.20
13   2024-03-14                 12         397.10
14   2024-03-15                  3         107.60
15   2024-03-16                  6         183.20
16   2024-03-17                  2          68.90
17   2024-03-18                  4         115.60
18   2024-03-19                  6         219.90
19   2024-03-20                  6         213.90
20   2024-03-21                  6         205.20
21   2024-03-22                  6         189.40
22   2024-03-23                  8         285.10
23   2024-03-24                  2          78.70
24   2024-03-25                  6         223.60
25   2024-03-26                 11         376.70
26   2024-03-27                  8         271.70
27   2024-03-28                  4         125.40
28   2024-03-29                  4         156.10
29   2024-03-30                  5         189.90
30   2024-03-31                  2          68.70
31   2024-04-01                  7         242.80
32   2024-04-02                  4         136.50
33   2024-04-03                  4         126.50
34   2024-04-04                  5         185.00
35   2024-04-05                 11         362.10
36   2024-04-06                  4         140.10
37   2024-04-07                  7         241.50
38   2024-04-08                 10         340.20
39   2024-04-09                  5         186.10
40   2024-04-10                  5         166.40
41   2024-04-11                  5         169.00
42   2024-04-12                  2          67.60
43   2024-04-13                  8         302.40
44   2024-04-14                 13         434.30
45   2024-04-15                  5         150.40
46   2024-04-16                  8         276.50
47   2024-04-17                  6         199.20
48   2024-04-18                 10         352.70
49   2024-04-19                  7         261.10
50   2024-04-20                 14         494.30
51   2024-04-21                  3         104.64
52   2024-04-22                  5         176.46
53   2024-04-23                  5         173.90
54   2024-04-24                  8         272.36
55   2024-04-25                  4         121.48
56   2024-04-26                  9         300.28
57   2024-04-27                  1          37.72
58   2024-04-28                  5         169.00
59   2024-04-29                  8         257.66
60   2024-04-30                  8         272.36
61   2024-05-02                  7         245.72
62   2024-05-03                  3         114.44
63   2024-05-06                 10         314.58
64   2024-05-07                 10         344.08
65   2024-05-08                  1          37.72
66   2024-05-09                  9         295.38
67   2024-05-10                  4         148.44
68   2024-05-11                  8         293.24
69   2024-05-12                  8         272.36
70   2024-05-13                  3          90.82
71   2024-05-14                 12         403.64
72   2024-05-15                 12         350.82
73   2024-05-16                  9         327.34
74   2024-05-17                  9         306.36
75   2024-05-18                  8         283.44
76   2024-05-19                 13         417.84
77   2024-05-20                 17         559.02
78   2024-05-21                  9         314.90
79   2024-05-22                 11         370.82
80   2024-05-23                 16         575.40
81   2024-05-24                  7         210.14
82   2024-05-25                  8         254.92
83   2024-05-26                 15         526.60
84   2024-05-27                 11         365.92
85   2024-05-28                 11         372.10
86   2024-05-29                 11         396.60
87   2024-05-30                 11         370.82
88   2024-05-31                 14         499.96
89   2024-06-01                 11         386.80
90   2024-06-02                  6         212.80
91   2024-06-03                  7         251.70
92   2024-06-04                 14         474.18
93   2024-06-05                  9         310.08
94   2024-06-06                 11         385.52
95   2024-06-07                  5         149.40
96   2024-06-08                  4         136.18
97   2024-06-09                 13         436.46
98   2024-06-10                  6         226.32
99   2024-06-11                  6         211.62
100  2024-06-12                  6         221.42
101  2024-06-13                 12         379.14
102  2024-06-14                  4         126.38
103  2024-06-15                  8         262.56
104  2024-06-16                 12         408.54
105  2024-06-17                 10         323.30
106  2024-06-18                  7         234.64
107  2024-06-19                 11         380.62
108  2024-06-20                  6         221.42
109  2024-06-21                 12         403.64
110  2024-06-22                  5         169.00
111  2024-06-23                  5         178.80
112  2024-06-24                  6         221.42
113  2024-06-25                  4         141.08
114  2024-06-26                  6         196.92
115  2024-06-27                  4         131.28
116  2024-06-28                  5         159.20
117  2024-06-29                  8         287.06
118  2024-06-30                  4         131.28